/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.resume_container .resume_icon{
		margin-bottom: 10px
	}
	.resume_container h3{
		margin-bottom: 10px
	}

	.top_wrapper .top_text h1 {
		font-size: 1em;
		padding: 10px 10px
	}
	.top_wrapper .top_text p {
		font-size: 0.5em;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.top_wrapper .top_text h1 {
		font-size: 1em;
		padding: 10px 10px
	}
	.top_wrapper .top_text p {
		font-size: 0.5em;
	}

	.main_footer .social_wrap{
		float: left;
		line-height: 0;
	}
	.main_footer .social_wrap ul{
		padding-left: 0;
	}
	.main_footer .copy{
		margin-bottom: 10px;
		float: left;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}